<head xmlns:th="http://www.thymeleaf.org" th:fragment="head">
    <title>JNews</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900">
    <link rel="stylesheet" href="/css/bootstrap.css" >
    <link rel="stylesheet" href="/css/fonts.css" >
    <link rel="stylesheet" href="/css/style.css" >
    <style>.ie-panel{display: none;background: #212121;padding: 10px 0;box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);clear: both;text-align:center;position: relative;z-index: 1;} html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {display: block;}</style>
</head>


<div xmlns:th="http://www.thymeleaf.org" th:fragment="preloader" class="preloader">
    <div class="preloader-body">
        <div class="loader">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <p>Loading...</p>
    </div>
</div>


<header xmlns:th="http://www.thymeleaf.org" th:fragment="header" class="section page-header rd-navbar-transparent-wrap">
    <!--RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-transparent" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="20px" data-xl-stick-up-offset="20px" data-xxl-stick-up-offset="20px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
            <div class="rd-navbar-main-outer">
                <div class="rd-navbar-main-inner">
                    <div class="rd-navbar-main">
                        <!--RD Navbar Panel-->
                        <div class="rd-navbar-panel">
                            <!--RD Navbar Toggle-->
                            <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                            <!--RD Navbar Brand-->
                            <div class="rd-navbar-brand">
                                <!--Brand--><a class="brand" th:href="@{/}"><img class="brand-logo-dark" th:src="@{/images/logo-default-293x44.png}" alt="" width="146" height="22"/><img class="brand-logo-light" th:src="@{/images/logo-inverse-310x44.png}" alt="" width="155" height="22"/></a>
                            </div>
                        </div>
                        <div class="rd-navbar-main-element">
                            <div class="rd-navbar-nav-wrap">
                                <ul class="rd-navbar-nav">
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/}">Home</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/cryptocurrency}">Crypto</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/weather}">Weather</a>
                                    </li>
                                    <li class="rd-nav-item"><a class="rd-nav-link" th:href="@{/contact}">Contact</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>



<section xmlns:th="http://www.thymeleaf.org" th:fragment="swiper" class="section swiper-container swiper-slider swiper-slider-1 context-dark" data-loop="true" data-autoplay="5000" data-simulate-touch="false">
    <div class="swiper-wrapper">
        <div class="swiper-slide" data-slide-bg="images/index-1-slider-1-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp"  data-caption-delay="100">Breaking NEWS</span><span class="d-block text-light"  data-caption-animate="fadeInUp" data-caption-delay="200">& A lot more</span></h1>
                            <p class="lead" data-caption-animate="fadeInUp" data-caption-delay="350">Just be aware.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide" data-slide-bg="images/index-1-slider-3-1920x768.jpg">
            <div class="swiper-slide-caption section-lg">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                            <h1><span class="d-block" data-caption-animate="fadeInUp" data-caption-delay="100">#1 Keep your finger on the pulse of crypto news</span></h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Swiper Pagination-->
    <div class="swiper-pagination-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-lg-7 offset-md-1 offset-xxl-0">
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<footer xmlns:th="http://www.thymeleaf.org" th:fragment="footer" class="section footer-classic">
    <div class="footer-inner-1">
        <div class="container">
            <div class="row row-40">
                <div class="col-md-5 col-lg-3">
                    <h5>Our Contacts</h5>
                    <ul class="contact-list font-weight-bold">
                        <li>
                            <div class="unit unit-spacing-xs">
                                <div class="unit-left">
                                    <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                                </div>
                                <div class="unit-body"><a>Warsaw</a></div>
                            </div>
                        </li>
                    </ul><a class="d-inline-block big" href="mailto:#">fetsiura@gmail.com</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-inner-2">
        <div class="container">
            <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span>. All Rights Reserved. Design by <a href="https://www.templatemonster.com">TemplateMonster</a></p>
        </div>
    </div>
</footer>
